@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
  max-width: 960px;
  margin: 0 auto;
}

.section {
  margin: 4rem 0;
  background-image: url(/iqra.jpg);
  height: 1000px;
}

.card {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
